$primary-pale-blue-color: hsl(225, 100%, 94%);
$primary-bright-blue-color: hsl(245, 75%, 52%);

$neutral-pale-blue-color: hsl(225, 100%, 98%);
$neutral-desaturated-blue-color: hsl(224, 23%, 55%);
$neutral-dark-blue-color: hsl(223, 47%, 23%);
